@model LRDII.Models.EditShareTransactionViewModel

<h2>Edit Transaksi Pembelian Saham</h2>

<h4>Koperasi LRDII</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditBuyShare">
            <input type="hidden" asp-for="NomorTransaksi"/>
            <input type="hidden" asp-for="JenisTransaksi"/>
            <div class="form-group">
                <label asp-for="NomorAnggota" class="control-label">Nomor Anggota</label>
                <select asp-for="NomorAnggota" asp-items="@Model.DaftarAnggota" class="form-control">
                    <option selected="selected" value="">Harga saham ...</option>
                </select>
                <span asp-validation-for="NomorAnggota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JumlahSaham" class="control-label">Jumlah Saham</label>
                <input asp-for="JumlahSaham" class="form-control" />
                <span asp-validation-for="JumlahSaham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TanggalTransaksi" class="control-label">Tanggal Transaksi</label>
                <input asp-for="TanggalTransaksi" class="form-control" />
                <span asp-validation-for="TanggalTransaksi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomorHargaSaham" class="control-label">Nomor Harga Saham</label>
                <select asp-for="NomorHargaSaham" asp-items="@Model.DaftarHarga" class="form-control">
                    <option selected="selected" value="">Harga saham ...</option>
                </select>
                <span asp-validation-for="NomorHargaSaham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
