@model LRDII.Models.MemberModel

<h2>Cari</h2>

<h4>Anggota Koperasi LRDII</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchMember">
            <div class="form-group">
                <label asp-for="NomorAnggota" class="control-label"></label>
                <input asp-for="NomorAnggota" class="form-control" />
                <span asp-validation-for="NomorAnggota" class="text-danger"></span>
            </div>         
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
